.Feedback {
  background-color: #68C2FF;
  width: 100%;
  padding: 20px 0;
}

.Paper {
  /* margin: 10px; */
  margin: 20px 10px;
  padding: 10px 10px;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.submitBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}