@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

.Branding {
  max-width: 550px;
  margin-top: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  padding-left: 50px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  float: right;
}

.LogoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.logo {
  position: absolute;
  right: 100px;
  color: #2BAE66;
  top: 30px;
}

.tagline {
  color: #2BAE66;
  position: absolute;
  font-size: 1.4rem;
  font-family: 'Caveat', cursive;
  right: 0;
  top: 100px;
}

.desc1 {
  margin-top: 200px;
  width: 80%;
  text-align: left;
}

.desc2 {
  margin-top: 20px;
  width: 80%;
  text-align: left;
}

@media (max-width: 600px) {
  .desc1{
    margin-top: 20px;
    font-size: 1.2rem;
  }

  .desc2{
    font-size: 1.2rem;
    margin-bottom: 100px;
  }
}