.topicHeading {
  min-height: 140px;
  color: #2bae66;
  font-size: 1.7rem;
}

.content {
  color: black;
  min-height: 350px;
}

.button {
  background-color: #2bae66;
}

.button:hover{
  background-color: #0e4426;
  color: aliceblue;
}

@media (max-width:600px) {
  .topicHeading{
      min-height: 50px;
  }

  .content{
    min-height: auto;
    margin-bottom: 20px;
  }
}