.LoginSignup {
  /* padding: 10px 40px; */

  min-height: 100vh;
  /* background-color: #2BAE66; */
  box-sizing: border-box;
}

/* .topSection {

} */

.bottomsection {
  margin-left: 20px;
  display: flex;
  flex-wrap:wrap;
}

