.LoginSignup {
  /* padding: 10px 40px; */

  min-height: 100vh;
  /* background-color: #2BAE66; */
  box-sizing: border-box;
}

.bottomsection {
  margin-left: 20px;
  display: flex;
  flex-wrap:wrap;
}

@media (max-width: 600px) {
  .bottomsection{
    margin-left: 0;
  }

  .topSection {
    margin-top: 180px;
  }
}