.Nav {
  font-size: 1.3rem;
  font-weight: 500;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.navitem {
  padding: 5px 10px;
}