.Property {
  display: flex;
  max-width: 800px;
  width: 100%;
  margin: 10px;
}

.propertyImg {
  width: 250px;
  height: 250px;
  padding: 0;
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.area {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.price {
  margin-left: 80px;
}

.price i {
  font-size: 1rem;
}

.listingdesc {
  width: 420px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .Property{
    width: 95%;
  }

  .propertyImg{
    width: 100%;
    height: inherit;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .content {
    width: inherit;
  }

  .area{
    margin: 5px 0 ;
    font-size: 1rem;
  }

  .price{
    margin-left: 10px;
    padding-left: 5px;
    border-left: 1px solid #000;
  }

  .listingdesc {
    flex-direction: column;
    width: 80%;
    height: 80px;
    margin: 10px 10% 5px 10%;
  }
}