.Row {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  margin: 2px;
  width: 1000px;
}

.companyname {
  font-size: 1.2rem;
  font-weight: 500;
}

.bold {
  font-weight: 500;
}

.dot {
  font-size: 0.5rem;
}

.numbers {
  display: flex;
}

.numval {
  margin: 9px 20px auto 20px;
  text-align: center;
}