@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Uchen&display=swap');

.topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.name {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #2BAE66;
  font-family: 'Uchen', serif;
}

.btn {
  font-size: 1.1rem;
  color: #232323;
  border: 1px solid #e0d427;
}

.btn:hover {
  background-color: #e0d427;
  color: #fff;
  border: 1px solid #e0d427;
}